.g-3 div {
    margin-bottom: 30px;
}
.pic2 , .pic3 {
    margin-right: -5px !important;
}
.pic2 img , .pic3 img {
    width: 400px !important;
    height: 285px !important;
    border-radius: 5px;
}
.groub-2 {

}
.groub-2 img{

}